

@media (max-width: 1024px){
	section{
		padding-bottom: var(--section-padding-y-mobile);
	}

	.button{
		width: 100%;
	}
	.button_circuit{
		margin-top: var(--section-padding-x);
	}

	.button__services{
		height: 50px;
    width: 59%;
	}


}


@media (max-width: 1024px) {
	.header__logo svg{
		width: 112px;
		height: 29px;
	}

	.header__banner{
		column-gap: 23px;
		height: 55px;
	}

	.header__menu {
	display: none;
	}

	.header__info-tel{
		white-space: nowrap;
	}

	.header__button{
		display: none;
	}
}

@media (max-width: 1024px) {

	.hero__main{
		display: flex;
    flex-direction: column;
    row-gap: 35px;
	}

	.hero__container{
		padding-block: 40px 0;
		height: 570px;
	}

	.hero__vrach{
		transform: translateX(50%);
    height: 370px;
    right: 50%;
    bottom: 0;
	}

	.hero__background{
		bottom: 0;
		top: revert;
    width: 100%;
    max-height: 260px;
    object-fit: cover;
	}

	.hero__img{
		height: 370px;
	}
}


@media (max-width: 1024px) {

	.services__content{
	width: calc(100% - 40px);
}

	.services__price{
		padding-left: 15px;
	}
}

@media (max-width: 1024px) {
	.stages__content{
		flex-wrap: wrap;
	}
}

@media (max-width: 768px) {
	.stages__content{
		flex-direction: column;
	}

	.stages__item{
		flex-direction: row;
    align-items: center;
    justify-content: space-between;
	}
	
	.stages__num{
		order: 1;
	}

	.stages__num::before{
		display: none;
	}

	.stages__text {
		padding-top: 0;
	}

	.stages__text::before{
		display: none;
	}

	.stages__text svg{
		width: 40px;
		height: 40px;
	}
}

@media (max-width: 1024px){
	
}

@media (max-width: 1024px) {
	.about{
		padding-bottom: var(--section-padding-y-mobile) 0;
	}

.about__body{
		padding-block: var(--section-padding-y-mobile);
	}
		.about__top{
		flex-direction: column;
		padding-bottom: 20px;
	}

	.about__content{
		order: 1;
		row-gap: 20px;
	}

	.about__title{
		padding-top: 25px;
	}

	.about__slider{
		order: 0;
		padding-bottom: 25px;
	}
	
	.about__img{
		height: 200px;
	}

	.about__advantages{
		display: flex;
		flex-direction: column;
		row-gap: 15px;
	}

	.about__advantages-item{
		column-gap: 0;
	}
	
	.about__advantages-item svg{
		margin-right: 10px;
	}

	.about__navigation{
		display: none;
	}

	.about__license-title{
		padding-block: 20px 15px;
	}

	.license__img{
		max-width: 200px;
	}
}

@media (max-width: 1024px){
	.doctor__img:nth-child(n+3) {
    display: none;
  }
}

@media (max-width: 1024px) {
	.reviews__navigation {
		display: none;
	}

	.doctor__descr{
		order: 1;
		width: 100%;
	}

	.doctors__slider-wrapper{
		display: flex;
		flex-direction: row;
	}

	.doctors__title{
		padding-top: var(--section-padding-y-mobile);
	}

	.doctor__content-wrapper{
		display: flex;
		flex-direction: column;
	}

	.doctors__content{
		padding-top: 10px;
		order: 1;
		width: 100%;
	}

	.doctors__slider{
		order: 0;
	}
}

@media (max-width: 1024px){
.advantag__wrapper{
	padding-block: var(--section-padding-y-mobile);
}
}
@media (max-width: 1024px){
 .form__input-text{
	column-gap: 10px;
 }

 .form__input-text label{
	flex: 0 1 50%;
 }
}

@media (max-width: 768px) {

	.advantag__wrapper{
		padding-block: var(--section-padding-y-mobile);
	}

	.advantag__row{
		column-gap: 0;
		flex-direction: column;
	}

	.advantag__img{
		width: 100%;
		height: 360px;
		margin-bottom: 25px;
		object-fit: cover;
	}

	.advantag__content-top{
		row-gap: 10px;
		padding-bottom: 25px;
	}

	.advantag__clinic-title{
		padding-bottom: 15px;
	}

	.advantag__clinic-content{
		row-gap: 15px;
	}

	.advantag__banner{
		margin-top: 35px;
		padding: 20px;
		flex-direction: column;
		align-items: center;
	}

	.advantag__banner-title {
		font-size: 24px;
		padding-bottom: 0;
	}

	.advantag__banner-content p:nth-child(2){
		padding-block: 15px;
	}

	.advantag__banner-content p:last-child{
		padding-bottom: 25px;
	}

	.advantag__banner-wrapper{
		margin-left: 0;
	}

	.advantag__banner-form{
		display: flex;
		flex-direction: column;
		row-gap: 15px;
	}

	.form__input-text{
		flex-direction: column;
		row-gap: 15px;
		padding-bottom: 0;
	}

	.form__policy{
		padding-top: 0;
	}
}

@media (max-width: 1024px){

.faq__wrapper{
	flex-direction: column;
}

}

@media (max-width: 1024px){

.feedback__form-wrapper{
 grid-template-columns: 1fr;
 gap: 15px;
}

.feedback__text{
	line-height: 25px;
  padding-block: 10px 25px;
}
}

@media (max-width: 480px) {
	.faq__item{
		padding: 15px 15px 15px 20px;
	}

	.faq__item-question p{
		width: 224px;
		font-size: 16px;
	}

	.plus-button::before, .plus-button::after{
		height: 2px;
	}

	.faq__content{
		padding-bottom: 20px;
	}

	.side-form-title{
		font-size: 16px;
	}

	.side-form__wrapper{
		row-gap: 15px;
	}
}

@media (max-width: 1024px) {
	.feedback__content{
		padding-block: 40px;
		height: 735px;
	}

	.feedback__vrach{
		width: 251px;
		height: 290px;
		transform: translateX(50%);
    right: 50%;
	}
}

@media (max-width: 480px) {
	.footer{
		padding-block: 20px;
		
	}

	.contraindications p{
		padding-inline: 34px;
	}
}

@media (max-width: 768px) { 

	.call-overlay:modal{
		max-height: 400px;
	}

	.call-overlay-text{
		padding-block: 10px 20px;
	}

	.cross-button-grey{
		right: -39px;
    top: -65px;
	}

	.cross-button-grey::before, 
	.cross-button-grey::after{
		width: 40%;
		background-color: var(--color-light);
	}
}